<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring-Data-Neo4j Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Update Person</h1> 
	<form action="#" th:action="@{/update-person}" method="get">
		<p>
			Select Person For Update: 	<select name="personId">
								<option th:each = "person: ${persons}" th:value="${person.id}" th:text="${person.name}"> </option>
							</select>
		</p>
		<p>
			<input type="submit" value="Update" /> &nbsp; <input type="reset" value="Reset" />
			
		</p>
		<h2>Menu: </h2>
		<div th:replace="fragments/footer :: footer"></div> 
	</form>
</body>
</html>