<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring-Data-Neo4j Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Make Employee</h1> 
	<p> Select Company from list 1 and list 2 and make company employee. </p>
	<form action="#" th:action="@{/make-employee}" method="post">
		<p>
			Person List 1: 	<select name="companyId">
								<option th:each = "company: ${companies}" th:value="${company.id}" th:text="${company.name}"> </option>
							</select>
		</p>
		<p>
			Person List 2: <select name="empId">
								<option th:each = "person: ${persons}" th:value="${person.id}" th:text="${person.name}"> </option>
							</select>
		</p>
		<p>
			Employee Type: <select name="friendshipType">
									<option value="EMP">EMP</option>
								</select>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
		</p>
		<h2>Menu: </h2>
		<div th:replace="fragments/footer :: footer"></div> 
	</form>
</body>
</html>